/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.field_with_errors {
   display: inline;
   color: red;
}

.errors {
  color: red;
 }

.cells {
  background-color: aliceblue;
  border: #c3e3ff 2px solid;

  display: inline-grid;
  --cell-size: calc( calc( 100vmin - 100px ) / max(var(--rows), var(--columns)) );
  grid-template-rows: repeat(var(--rows), var(--cell-size));
  grid-template-columns: repeat(var(--columns), var(--cell-size));

  font-size: calc( var(--cell-size));
  color: #ed0061;
}

.cell::before { 
  color:  #d64889; 
  content: '⬤';
}
